body {
    font-family: 'Arial', sans-serif;
}

 p {
    width: 200px;
    border-radius: 5px;
    border: 1px solid blue;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 70px;
    padding: 10px;
    background-color: yellow;
 }

img {
  width: 240px;
    height: 240px;
    margin-left: 50px;
    border-radius: 50%;
    border: 1px solid blue;
}